
<Jumbo>
  <img src="../assets/images/teaching-tomster.png" alt="tomster">
   <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  {{!-- linking pages --}}
  <LinkTo @route="about" class="button">About us</LinkTo>
  <Rental />
  <Rental />
  <Rental />

</Jumbo>